*.spyderproject
*.txt
*.zip
# Python binary files
*.pyc

# data files
src/data/*.csv
src/data/other/*
src/output/*

# writeup
writeup/*

# Output files from R CMD build
/*.tar.gz

*.RDS
*.png
*.csv
*.zip

/*.csv

*.log

